@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --screen-3xl: 2560px;
    --3xl: 1960px;
}
@theme{
    --color-primary: #9b59b6 ;
      --color-OMblue: #9b59b6 ;
    --color-primary1: #c58adb ;
      --breakpoint-4xl: 2560px;
    
 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --OMblue: #9b59b6;
    --OMblue2: #c58adb;
    --OMlightBlue: "#E5EBFA";
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.OMblue {
  background-color: #9b59b6;
  
}

.OMblue2 {
  background-color: #c58adb;
}

.OMlightBlue {
  background-color: #E5EBFA;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}


.glassmorphic-box {
  box-shadow   : 6px 6px 12px #c5c5c5, -9px -9px 12px white ;
  border-left: solid white 2px;
}
.glassmorphic-box:hover{   
  box-shadow   : 6px 6px 30px #c5c5c5, -9px -9px 20px white ;
  border-left: solid white 2px;
}
@keyframes slow-ping {
    0% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  
  .slow-ping {
    animation: slow-ping 2s infinite; /* Adjust duration here */
  }





  .floating-balls-container {
    width: 100vw;
    height: 100vh; /* Adjust height as needed */ /* Container background color */
    overflow: hidden;
    /* background-color: aqua; Ensure balls stay inside the container */
  }


  @keyframes scroll-horizontally {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll-horizontally {
    display: flex;
    animation: scroll-horizontally 20s linear infinite;
  }

  .overflow-hidden:hover .animate-scroll-horizontally {
    animation-play-state: paused;
  }

  .cb1{
    accent-color: #9b59b6;
  }





.Perspective-parent {
  perspective: 1000px;
}

.Perspective-child {
  transform: rotatex(0deg);
}

.Perspective-child:hover {
  transform: rotate3d(1, 0, 0, 5deg);
}